/* DBChart.css */

/* loader */
.loaderdiv{
  width: 100vw;
  height: 100vh;
  position: relative;
  background: #eee;
}

.spinnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position:absolute;
  top:45%;
  left:50%;
  margin-left:-120px;
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #299fff;
  animation: tri-spinner 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: tri-spinner 2s infinite;
}

.spinner::after {
  margin: 8px;
  animation-duration: 3s;
}

@keyframes tri-spinner {
  100% {
    transform: rotate(1turn);
  }
}

.loader {
  color: #4a4a4a;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.loader p{
  margin-top: -5px;
}

.words {
  overflow: hidden;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: #299fff;
  animation: cycle-words 5s infinite;
}

@keyframes cycle-words {
  10% {
    -webkit-transform: translateY(-105%);
    transform: translateY(-105%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-205%);
    transform: translateY(-205%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-305%);
    transform: translateY(-305%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-405%);
    transform: translateY(-405%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}
/* loader */



/* DBchart */
.DBChartBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* 4개의 열 */
  grid-template-rows: 1fr 1fr; /* 2개의 행 */
  height: 100vh;
}

.speedchart, .rpmchart, .engineloadchart, .throttleposchart {
  background-color: #ffffff;
  overflow: hidden;
  display: grid;
  place-items: center;
  border-radius: 5px;
  border: solid 3px rgb(0, 0, 0);
}

.speedchart {
  grid-column: 1 / 3; /* 첫 번째와 두 번째 열을 차지 */
  grid-row: 1 / 2; /* 두 번째 행 */
}

.rpmchart {
  grid-column: 3 / 5; /* 세 번째와 네 번째 열을 차지 */
  grid-row: 1 / 2; /* 두 번째 행 */
}

.throttleposchart{
  grid-column: 1 / 3; /* 첫 번째와 두 번째 열을 차지 */
  grid-row: 2 / 3; /* 두 번째 행 */
}

.engineloadchart{
  grid-column: 3 / 5; /* 세 번째와 네 번째 열을 차지 */
  grid-row: 2 / 3; /* 두 번째 행 */
}
/* DBchart */